<div class="menu">
  <h1 class="title"><a routerLink="/home">SisCom</a></h1>
  <ul>
    <li>
      <a routerLink="/fornecedor">
        <mat-icon aria-hidden="false" aria-label="Fornecedor">person</mat-icon>Fornecedor
      </a>
    </li>
    <li>
      <a routerLink="/cliente">
        <mat-icon aria-hidden="false" aria-label="Cliente">person</mat-icon>Cliente
      </a>
    </li>
    <li>
      <a routerLink="/produto">
        <mat-icon aria-hidden="false" aria-label="Produto">business_center</mat-icon>Produto
      </a>
    </li>
    <li>
      <a routerLink="/comprar">
        <mat-icon aria-hidden="false" aria-label="Comprar">shopping_cart</mat-icon>Comprar
      </a>
    </li>
    <li>
      <a routerLink="/vendedor">
        <mat-icon aria-hidden="false" aria-label="Vendedor">person</mat-icon>Vendedor
      </a>
    </li>
    <li>
      <a routerLink="/venda">
        <mat-icon aria-hidden="false" aria-label="Venda">attach_money</mat-icon>Venda
      </a>
    </li>
    <li>
      <a routerLink="/relatorios">
        <mat-icon aria-hidden="false" aria-label="Relatorios">assessment</mat-icon>Relatorios
      </a>
    </li>
  </ul>
</div>
