table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-tab-group{
  padding: 0 15px !important;
}

.col-2{

  .mat-form-field{
    width: 50%;
  }

  button{
    margin-left: 50px;
  }
}
