table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-tab-group{
  padding: 0 15px !important;
}

.list-options{
  float: right;
  padding-bottom: 10px;

  button{
    margin-right: 10px;

    &:last-child{
      margin-right: 0px;
    }
  }
}
